div {
  margin: .4em 0;
}
div label {
  width: 20%;
  float: left;
}
input:focus {
  border-color: purple;
  background: lightgrey;
}
p {
  border: black 1px dotted;
  font-style: italic;
  padding: 0.25em;
}
input{
  border-radius: 5px;
}
textarea{
  height: 40px;
  overflow-y: scroll;
  overflow-x: scroll;
}
