HTML{
  color: navy;
  font-family: verdana;
  line-height: 1.4em;
  font-size: .9em;
  background-image: url(fondoEjercicio10.jpg);
}

h1{
  text-align:center;
  text-transform: capitalize;
  border-radius: 1px;
  padding: 10px;
  background-image: url(fondoH1Ejercicio10.jpg);
  background-repeat:repeat-x;
}
p{
  text-indent: 1cm;
}
a{
  text-decoration:none;
  margin: 1em 0; float: left; clear: left;
  color: #E37529;
  padding: 0 0 0 18px;
  background: #FFF url(Wikipedia_icono.png) no-repeat left center;
}
a:visited{
  color:darkgreen;
  font-style: italic;;
}
