*{
  color: navy;
  font-family: verdana;
  line-height: 1.4em;
  font-size: 0.9em;
}

h1{
  text-align:center;
  text-transform: capitalize;
  border:1px solid black;
  border-radius: 3px;
  padding: 10px;
}
p{
  text-indent: 1cm;
}
a{
  text-decoration:none;
}
a:visited{
  color:darkgreen;
  font-style: italic;;
}
